name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ['1.16', '1.17', '1.18', '1.19', '1.20', '1.21']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - name: Build example application
        run: go build example/main.go
      - run: make test
