name: Gotip cron

on:
  schedule:
    - cron: '37 1 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install Go stable
        uses: actions/setup-go@v5
        with:
          go-version: 1.x
      - name: Install Go tip
        shell: bash
        run: |
          go install golang.org/dl/gotip@latest
          gotip download
          echo "GOROOT=$HOME/sdk/gotip" >> "$GITHUB_ENV"
          echo "GOPATH=$HOME/go" >> "$GITHUB_ENV"
          echo "$HOME/go/bin" >> "$GITHUB_PATH"
          echo "$HOME/sdk/gotip/bin" >> "$GITHUB_PATH"
          make gotip/fix
      - name: Build example application
        run: go build example/main.go
      - name: Run tests
        run: |
          which go
          go version
          make test
